*{
    box-sizing: border-box;
}
 body{
    background-color: #1E0555!important;
}
.container{
    color: white!important;
    text-align: center;
    padding: 5px 0px;
}
button{
    color: white!important;
    background-color: blue;
    text-align: center;
    padding: 5px 0 0 0 !important;
    border-radius: .5rem!important;
    font-size: 2rem!important;

}
h1{
    font-weight: bold;
    font-size: 7rem;
    padding: 10px 0;
}


body, .qoute-input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
}

.contain{
    background-color: #F0DB4F;
    padding: 2rem;
    border-radius: .5rem;
    width:700px;
    max-width: 90%;
	position: 0;
	margin: auto;

}
.timer{
    text-align: center;
    padding: 5px 0px;
    font-size: 6rem;
    color:#F0DB4F;
    font-weight: bold;
}
.quote-display{
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    font-size: 3 rem;
    color: black;
}

.quote-input{
    background-color: transparent;
    border:2px solid #A1922E;
    outline:none;
    width: 100%;
    height: 8rem;
    margin:auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 3 rem;
    border-radius: .5rem;
}

.quote-input:focus{
    border-color: black;
}

.correct{
    color: green;
}
.incorrect{
    color: red;
    text-decoration: underline;
}
.btn{
    color: blue;
    padding: 5px;
    font-size: 3rem;
    font-weight: bold;
    border-radius: .5rem;
    top: 2rem;
}
.button{
    position: absolute;
    top: 4rem;
    padding: 10px 0px;;
}
.header{
    position: absolute;
    top: 0 rem;
}
